.button {
  text-decoration: none;
  font-family: "Raleway";
}

.banner {
  background: no-repeat center fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-family: 'Berkshire Swash', cursive;
}

.btn-only-text {
  font-size: 30px;
  color: white;
  border: solid;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  border-radius: 0px 25px;
  transition: 1s ease;
}

.btn-only-text:hover {
  border-radius: 25px 0px;
  transition: 1s ease;
  color: white;
  border: solid;
}
