<% if current_page?(root_url) %>
  <div class="footer footer-expand-sm footer-light text-navbar" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(https://images.pling.com/img/00/00/62/84/47/1693761/lake-boat-forest-background.3805-1920x1080.jpg);">
<% else %>
  <div class="footer footer-expand-sm footer-light">
<% end %>
  <div class="footer-copyright">
    <a class="nav-link" href="#"  >Contact Us</a>
    <a class="nav-link" href="#">About Us</a>
    <a class="nav-link" href="#">Terms and Conditions</a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
