<head>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="headers text-center">
  <h1>Rent a boat in <strong>your neighbourhood</strong></h1>
    <p>Always a sail away</p>
  </div>

  <button type="button" class="btn btn-link"><%= link_to "See our boats", boats_path %></button>
</body>
