.card-image {
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.booking-card{
  padding: 50px;
  background-color: white;
  border-radius: 5px;
}
