<div class="container">
  <h1><%= @boat.name %></h1>

  <div class="image-container">


  </div>

  <div class="info">
    <h2>About the boat</h2>
    <p><%= @boat.description %></p>
  </div>

</div>
